<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>保健室</title>
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./healthRoom.css"> 
    <script type="text/javascript" src="../lib/js/public.js"></script>
</head>
<body class="whiteBg">

	<ul class="list-unstyled healthRoomList">
		<li>
			<p class="col-xs-7">BMI</p>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
		</li>
		<li>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
			<p class="col-xs-7">体脂率</p>			
		</li>
		<li>
			<p class="col-xs-7">脏内脂肪</p>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
		</li>
		<li>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
			<p class="col-xs-7">基础代谢</p>			
		</li>
		<li>
			<p class="col-xs-7">人体水分</p>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
		</li>
		<li>
			<p class="col-xs-5">
				<img src="../resources/image/flowGuide_img1.jpg">
			</p>
			<p class="col-xs-7">骨量</p>			
		</li>
	</ul>

</body>
</html>