html,
body {
  width: 100%;
  height: 100%;
}
body {
  user-select: none;
  -webkit-user-select: none;
  font-size: 0.373rem;
  background-color: #665952;
}
[v-cloak] {
  display: none;
}
p {
  margin-bottom: 0;
}
em {
  font-style: normal;
}
.btn:focus,
.btn:active:focus {
  outline: 0;
}
/* loading */
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.loading p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.907rem;
  height: 0.907rem;
  background: url("../resources/image/green_loading_icon@2x.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: loading 3s infinite linear;
  animation: loading 3s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* /loading */
.modalV_center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.msgModal {
  display: block;
}
.msgModal .modal-content {
  width: 7.200rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.msgModal .modal-content div {
  text-align: center;
  padding: 1.067rem 0 1.200rem;
  color: #665952;
}
.msgModal .modal-content div h4 {
  font-size: 0.480rem;
  font-weight: normal;
  margin: 0;
}
.msgModal .modal-content ul {
  display: table;
  width: 100%;
  margin-bottom: 0;
  height: 1.333rem;
}
.msgModal .modal-content ul li {
  display: table-cell;
  text-align: center;
  color: #665952;
}
.msgModal .modal-content ul li:nth-child(2) {
  color: #D95C5C;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
/* 侧滑 */
/* /侧滑 */
body.grayBg {
  background-color: #F5F2F1;
}
.myInfo {
  width: 92%;
  height: 13.600rem;
  margin: 0 auto;
  border-radius: 0.160rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.107rem 0.107rem #E9E6E5;
  box-shadow: 0 0 0.107rem 0.107rem #E9E6E5;
  padding: 2.400rem 0.400rem 0;
  position: relative;
  top: 1.600rem;
}
.myInfo ul li {
  color: #665952;
  height: 0.907rem;
  line-height: 0.907rem;
  overflow: hidden;
  margin-bottom: 0.267rem;
}
.myInfo ul li:nth-child(1) {
  position: absolute;
  top: -1.120rem;
  left: 0;
  right: 0;
  height: auto;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 0.133rem;
}
.myInfo ul li img {
  width: 2.240rem;
  height: 2.240rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0.133rem #F5F2F1;
  box-shadow: 0 0 0 0.133rem #F5F2F1;
}
.myInfo ul li label {
  font-weight: normal;
  margin-bottom: 0;
}
.myInfo ul li p {
  text-align: right;
  position: relative;
}
.myInfo ul li p .form-control {
  display: inline-block;
  text-align: right;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 55%;
  -webkit-appearance: none;
  color: inherit;
  font-size: 0.373rem;
  height: 0.907rem;
}
.myInfo ul li p span {
  color: #AEABA8;
  margin-right: 0.533rem;
  display: inline-block;
  min-width: 0.533rem;
}
.myInfo ul li p span.dateColor {
  color: inherit;
}
.myInfo ul li p input[type=date] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.myInfo ul li p .radio-inline:nth-child(2) {
  margin-left: 1.227rem;
}
.myInfo ul li p input[type=radio] {
  -webkit-appearance: none;
  outline: 0;
  width: 0.320rem;
  height: 0.320rem;
  border: 1px solid /*except*/;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin: 0 0.133rem -0.027rem 0;
}
.myInfo ul li p input[type=radio]:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0.160rem;
  height: 0.160rem;
  background-color: #A3D5C0;
  border-radius: 50%;
  display: none;
}
.myInfo ul li p input[type=radio]:checked:before {
  display: block;
}
.myInfo ul li:nth-last-child(2) p span {
  margin-right: 1.467rem;
}
.myInfo ul li:last-child {
  color: #AEABA8;
  font-size: 0.320rem;
  padding: 0 0.400rem 0 0.800rem;
  position: relative;
  height: auto;
  line-height: inherit;
  margin: 0.400rem 0 0.533rem;
}
.myInfo ul li:last-child:before {
  content: '';
  position: absolute;
  top: 0.160rem;
  left: 0.480rem;
  width: 0.107rem;
  height: 0.107rem;
  background-color: #A3D5C0;
  border-radius: 50%;
}
.myInfo .notFilled_tip {
  color: #D95C5C;
}
.myInfo .bottom {
  position: absolute;
  bottom: 1.067rem;
  left: 0;
  right: 0;
}
.greenBtn {
  border-radius: 0.533rem;
  padding: 0.267rem 1.067rem;
  color: #fff;
  font-size: 0.373rem;
  background-color: #A3D5C0;
}
.greenBtn:hover,
.greenBtn:focus {
  color: #fff;
}
.greenBtn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #91cdb4;
}
