html,
body {
  width: 100%;
  height: 100%;
}
body {
  user-select: none;
  -webkit-user-select: none;
  font-size: 0.373rem;
  background-color: #665952;
}
[v-cloak] {
  display: none;
}
p {
  margin-bottom: 0;
}
em {
  font-style: normal;
}
.btn:focus,
.btn:active:focus {
  outline: 0;
}
/* loading */
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.loading p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.907rem;
  height: 0.907rem;
  background: url("../resources/image/green_loading_icon@2x.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-animation: loading 3s infinite linear;
  animation: loading 3s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* /loading */
.modalV_center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.msgModal {
  display: block;
}
.msgModal .modal-content {
  width: 7.200rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.msgModal .modal-content div {
  text-align: center;
  padding: 1.067rem 0 1.200rem;
  color: #665952;
}
.msgModal .modal-content div h4 {
  font-size: 0.480rem;
  font-weight: normal;
  margin: 0;
}
.msgModal .modal-content ul {
  display: table;
  width: 100%;
  margin-bottom: 0;
  height: 1.333rem;
}
.msgModal .modal-content ul li {
  display: table-cell;
  text-align: center;
  color: #665952;
}
.msgModal .modal-content ul li:nth-child(2) {
  color: #D95C5C;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
/* 侧滑 */
/* /侧滑 */
.selectYear {
  width: 100%;
  height: 0.667rem;
  background-color: #6e645d;
}
#monthWrapper {
  width: 100%;
  height: 1.733rem;
  overflow: hidden;
  background-color: #6e645d;
}
#monthWrapper #monthScroller {
  height: 100%;
  float: left;
}
.monthTab {
  height: 100%;
  border-bottom: 0;
  float: left;
  width: 100%;
  margin: 0;
  font-size: 0;
  white-space: nowrap;
}
.monthTab li {
  float: none;
  height: 100%;
}
.monthTab li a {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  font-size: 0.320rem;
  border-top-left-radius: 0.533rem;
  border-top-right-radius: 0.533rem;
  border: 0;
  width: 1.280rem;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.monthTab li a:hover {
  background-color: transparent;
}
.monthTab li.active a,
.monthTab li.active a:hover {
  color: #EAE766;
  background-color: #665952;
  border: 0;
}
.monthTab li.disabled a,
.monthTab li.disabled a:hover {
  color: #99928D;
}
.monthTab li {
  display: inline-block;
  width: 1.440rem;
}
.monthTab li a span {
  line-height: 1;
}
.monthTab li a span:nth-child(2) {
  font-size: 0.640rem;
}
.monthTab li a:after {
  content: '';
  position: absolute;
  bottom: 0.160rem;
  left: 0;
  right: 0;
  width: 0.107rem;
  height: 0.107rem;
  margin: 0 auto;
  background-color: #B45554;
  border-radius: 50%;
  display: none;
}
.monthTab li.newMsg a:after {
  display: block;
}
.monthTab_cont {
  position: absolute;
  top: 2.400rem;
  bottom: 0;
  left: 0;
  width: 100%;
}
.monthTab_cont .tab-pane {
  width: 100%;
  height: 100%;
}
.monthTab_cont .tab-pane .scrollWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.monthTab_cont .tab-pane .scrollWrapper .scroll {
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.swipeList .swipeCont {
  position: relative;
  overflow: hidden;
}
.swipeList .swipeOutBtn {
  position: absolute;
  top: 0.5px /*except*/;
  bottom: 0.5px /*except*/;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.swipeList .swipeOutBtn.swipeLeft {
  left: 0.5px /*except*/;
}
.swipeList .swipeOutBtn.swipeRight {
  right: 0.5px /*except*/;
}
.swipeList .swipeOutBtn a {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  font-size: 0.373rem;
  background-color: #D95C5C;
  padding: 0 0.427rem;
}
.swipeList .swipeHandle {
  position: relative;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
  left: 0;
  height: 3.733rem;
  background-color: #6e645d;
}
.swipeList .swipeRightShow {
  left: -1.600rem;
}
.recordList {
  margin-bottom: 0;
}
.recordList .swipeCont {
  width: 96%;
  margin: 2% auto;
}
.recordList .swipeCont .concave {
  position: absolute;
  width: 0.160rem;
  height: 0.160rem;
  z-index: 3;
  background-color: #665952;
}
.recordList .swipeCont .concave.left_top {
  top: 0;
  left: 0;
  border-bottom-right-radius: 0.160rem;
}
.recordList .swipeCont .concave.right_top {
  top: 0;
  right: 0;
  border-bottom-left-radius: 0.160rem;
}
.recordList .swipeCont .concave.left_bottom {
  bottom: 0;
  left: 0;
  border-top-right-radius: 0.160rem;
}
.recordList .swipeCont .concave.right_bottom {
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.160rem;
}
.recordList .swipeCont .swipeHandle {
  padding: 0.133rem 0.400rem;
}
.recordList .swipeCont .swipeHandle p {
  color: #fff;
  padding: 0 0.400rem;
  margin-bottom: 0.320rem;
}
.recordList .swipeCont .swipeHandle p span {
  display: block;
}
.recordList .swipeCont .swipeHandle p span:nth-child(2) {
  font-size: 0.640rem;
  line-height: 1;
}
.recordList .swipeCont .swipeHandle p:first-child {
  text-align: center;
  position: relative;
  margin-bottom: 0;
}
.recordList .swipeCont .swipeHandle p:first-child span {
  position: absolute;
  top: 0;
  left: 0;
}
.recordList .swipeCont .swipeHandle p:nth-child(5) {
  text-align: center;
}
.recordList .swipeCont.newMsg_contBg .swipeHandle {
  background-color: #817C75;
}
.noRecord {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 0.640rem;
}
.iScrollVerticalScrollbar {
  position: absolute;
  top: 0;
  bottom: 2px /*except*/;
  right: 2px /*except*/;
  width: 5px /*except*/;
  z-index: 9999;
  overflow: hidden;
}
.iScrollVerticalScrollbar .iScrollIndicator {
  position: absolute;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8) /*except*/;
  border-radius: 0.053rem;
  background-color: rgba(0, 0, 0, 0.4);
}
